#general, #vip{
  margin-top: 20px;
  margin-bottom: 10px;
}

#stage{
  height: 150px;
  border: 1px solid grey;
  h1{
    font-size: 103px;
    line-height: 120px;
    color: grey;
    text-align: left;
    letter-spacing: -12px;
  }
}
#vip{
  width: 66%;
  margin-left: 17%;
}
.seatGeneral, .seatVip{
  height: 25px;
  width: 25px;
  background-color: rgba(255, 0, 50, 0.9);
  float: left;
  border: 1px solid grey;
  font-size: 9px;
}
.filler{
  height: 20px;
  clear: both;
}
.reserved{
  background-color: grey;
}
